// out: styles.css, sourcemap: flase, compress: true

@import url('https://fonts.googleapis.com/css?family=Pangolin');
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css');

@color-white:#fff;
@color-black:#000;
@color-font:#666;
@color-sub:#CC4F58;
@color-main:#FF9891;
@color-master:#FF9891;
@color-line:@color-sub;

@layoutwidth:700px;

// reset
body{font-family: 'Pangolin','Nanum Gothic Coding', sans-serif, cursive;}

body,html,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,p{margin:0; padding:0;}
ul,ol,li{list-style:none;}
img{border:0; vertical-align: top;}
input{vertical-align: middle;}
a{
  text-decoration: none;
  color:@color-font;
}

//layout
#header{
  padding:20px 50px;
  text-align: center;
  background-color:@color-master;
  h1{
    font-size:30px;
    font-weight: 300;
    border-bottom:2px @color-white solid;
    padding-bottom:5px;
    display:inline-block;
    text-transform:uppercase;
    a{
      color:@color-white;
      span{
        font-size:12px;
        display:block;
      }
    }
  }
  .blogMenu{
    font-size:0;
    li{
      font-size:14px;
      margin:0 5px;
      display: inline-block;
      a{
        display: inline-block;
        color:@color-white;
        margin-top: 5px;
      }
    }
  }

}
#container{
  width: 990px;
  margin:20px auto 0;
  border-radius: 3px;
  font-size: 12px;
  color: @color-font;
  #content{
    width:@layoutwidth;
    float:left;
  }
  .searchList{
    h3{
      span:first-child{
        margin: 10px 10px;
        font-size:17px;
      }
    }
    ol{
      border: 1px @color-main solid;
      margin-top: 10px;
      font-size: 13px;
      border-radius: 3px;
      padding: 10px;
      li{
        line-height: 150%;
      }
    }
  }
  .entry{
    .titleWrap{
      margin-bottom:30px;
      h2{
        margin: 10px auto;
        a{
          font-weight: 300;
          border-bottom:2px @color-sub solid;
        }
      }
    }

    .article{
      .another_category{
        border: 1px @color-main solid !important;
        border-radius: 3px;
        font-weight: 300;
      }
      p{
        margin:20px;
      }
    }

    .tagTrail{
      border:1px @color-main solid;
      border-radius:3px;
      margin:35px 0 0;
      padding:10px 20px;
      position:relative;
      .tagText{
        border-radius:3px 3px 0 0 ;
        margin-left:20px;
        position:absolute;
        left:0;
        top:-30px;
        height:30px;
        padding:0 15px;
        background-color: @color-sub;
        color:@color-white;
      }
      a{
        font-size:12px;
        color:@color-white;
        background-color:@color-main;
        padding:2px 10px;
        border-radius:3px;
      }
    }
    .comment{
      margin-top:30px;

      .commentList{
        border:1px @color-main solid;
        border-radius: 1px;
        >ol>li{
          overflow: hidden;
          margin: 10px 10px;
          p{
            overflow: hidden;
            margin: 10px 10px;
          }

          li{
            margin-left:68px;
            overflow: hidden;
            p{
              margin:10px 10px;
              overflow: hidden;
            }
          }

          div{
            overflow: hidden;
          }
        }
        div span{
          overflow: hidden;
          margin: 10px 10px;
          p{
            margin-left: 68px;
            border: 1px @color-font solid;
            overflow: hidden;
          }
        }
      }
      .commentWrite{
        p>textarea{
          display: block;
          height: 80px;
          margin:10px auto;
          width: 99%;
          border: 1px @color-main solid;
          border-radius: 3px;
          padding: 10px 10px;
        }
        p.submit {
          text-align: right;
          input[type="submit"]{
            border: 0;
            vertical-align: middle;
            line-height: 30px;
            height: 30px;
            font-size:12px;
            color:@color-white;
            background-color:@color-sub;
            border-radius:3px;
            background-repeat: no-repeat;
            margin-right: 15px;

          }
        }
      }
      .control{
        a{
          font-size:12px;
          color:@color-white;
          background-color:@color-main;
          padding:2px 10px;
          border-radius:3px;
          float: right;
          margin-right: 10px;
        }
        a:first-child{
          color:@color-white;
          background-color:@color-sub;
        }
      }
    }
    .image{
      display:block;
      width:50px;
      height:50px;
      border-radius:30px;
      border: 3px @color-master solid;
      overflow:hidden;
      float: left;
      margin-right: 10px;
      img{
        width:100%;
        outline:2px @color-master solid;
        .control{
          float: right;
        }
      }
    }
  }
  .paging{
    text-align:center;
    padding:20px 0;
    a{
      color: @color-white;
      padding:0 5px;
      border-radius: 3px;
      font-size:12px;
      background-color: @color-main;
    }
  }
  .guestbook{
    h3{
      font-weight: 150%;
      span{
        border-bottom: 2px @color-sub solid;
      }
      color: @color-font;
      margin: 20px 10px;
      font-size: 17px;
    }
    .guestWrite{
      margin: 10px 10px;
      div input{
        width: 150px;
        height: 20px;
        background-color: @color-main;
        border: 1px @color-main solid;
        border-radius: 3px;
        margin: 5px 0;
        padding-right: 10px;
        border: 0 none;
        color: @color-white;
        padding:0 10px;
      }
      textarea{
        display: block;
        width: 98%;
        margin: 10px auto;
        border: 1px @color-main solid;
        border-radius: 3px;
        padding:10px 10px;
        font-size: 13px;

      }
      input[type="submit"]{
        background-color: @color-main;
        color: @color-white;
        background-repeat: no-repeat;
        border: 0 none;
        width: 90px;
        height: 25px;
        border-radius: 3px;
        line-height: 23px;
      }
    }
    .guestList{
      margin: 10px 10px;
      li{
        border: 1px @color-main solid;
        border-radius: 3px;
        margin: 20px 0;
        padding: 10px;
        width: 98%;
      }
      span.name{
        text-decoration: none;
        color: @color-font;
      }
      span.control{
        float: right;
        a{
          background-color: @color-main;
          border: 1px @color-main solid;
          border-radius: 3px;
          color: @color-white;
          font-size: 11px;
          padding: 1px 5px;
          margin-right: 5px;
        }
      }
    p{
        margin-top: 10px;
      }
    .date{
      a{
        color: @color-sub;
        font-size: 15px;
        margin: 0 10px;
      }
    }
    }
  }
}

#sidebar{
  margin-left: 710px;
  border: 3px @color-main solid;
  border-radius: 30px;
  font-weight: 400px;

  h3{
    margin-bottom: 10px;
    span{
      border-bottom: 2px @color-sub solid;
    }
  }
  .blogImage{
    text-align: center;
    img{
      margin-top:-60px;
      width: 50%;
      border-radius: 100px;
      border: 3px @color-main solid;
    }
  }
  .blogDesc{
    margin: 10px 0;
    color:@color-font;
  }

  div{
    margin: 10px 10px 20px 20px;
    h3{
      color: @color-font;
    }
  }
  .calender{

    tr{
      th:first-child{
        color: @color-sub;
      }
      td:first-child{
        color: @color-sub;
      }
      th:last-child{
        color: #1495CC;
      }
      td:last-child{
        color: #1495CC;
      }
    }

    tbody{
      text-align: center;
    }
  }
  .counter{
    text-align: center;
    >span{
      border-bottom: 2px @color-sub solid;
      font-size: 13px;
    }
    span^{
      margin-right: 6px;
    }
  }
  .search{
    position: relative;
    bottom:760px;
    left:25px;
    width: 230px;
    height: 30px;
    border: 1px @color-sub solid;
    input.submit{
      background-repeat: no-repeat;
      background-color: @color-sub;
      border: 0 none;
      color: @color-white;
      height: 30px;
      width: 48px;
    }
    input[type=text]{
      background-color: @color-main;
      background-repeat: no-repeat;
      border: 0 none;
      height: 28px;
      padding: 1px 10px;
      width: 159px;
      color: @color-white;
    }
  }
}
