* {
  margin: 0;
  padding: 0;
}
header {
  border-bottom: 1px #f00 solid;
  height: 30px;
}
header .gnb {
  margin: 0 auto;
  width: 990px;
  line-height: 30px;
}
header .gnb .site_option {
  float: left;
}
header section {
  width: 990px;
}
