@import url('https://fonts.googleapis.com/css?family=Oswald');
body {
  font-family: 'Oswald', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
img,
video {
  vertical-align: top;
}
ul,
li,
ol {
  list-style: none;
}
@keyframes up {
  0% {
    width: 23px;
  }
  50% {
    width: 13px;
  }
  100% {
    width: 23px;
  }
}
@keyframes down {
  0% {
    width: 13px;
  }
  50% {
    width: 23px;
  }
  100% {
    width: 13px;
  }
}
header {
  border: 1px #F00 solid;
  height: 80px;
  position: relative;
  z-index: 100;
}
header > div {
  border: 1px #F00 solid;
  background-color: #fff;
  overflow: hidden;
}
.gnb {
  height: 80px;
  background-color: #000;
  padding: 0 30px;
}
.gnb .logo {
  border: 1px #f00 solid;
  float: left;
}
.gnb .site-option {
  border: 1px #f00 solid;
  height: 80px;
  width: 200px;
  float: right;
}
.gnb .menu {
  border: 1px #f00 solid;
  height: 80px;
  width: 1100px;
  margin: 0 auto;
}
.site-option {
  font-size: 0;
}
.site-option a {
  text-align: center;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  height: 35px;
  outline: 1px #F00 solid;
}
.site-option .home {
  width: 40px;
  text-indent: -9999px;
  background-color: #666;
  background-image: url(http://www.tkgroup.co.kr/kor/_Img/Layout/home-ico.png);
  background-repeat: no-repeat;
  background-position: center;
}
.site-option .lang-en {
  width: 45px;
  line-height: 35px;
  color: #FFF;
  background-color: #086c6d;
}
.site-option .sitemap {
  text-align: right;
  width: 40px;
}
.site-option .sitemap span {
  line-height: 100%;
  position: relative;
  left: 4px;
  top: 2px;
  display: inline-block;
  width: 22px;
  height: 2px;
  background-color: #fff;
}
.site-option .sitemap:hover span:first-child {
  animation: aniline1 1s infinite;
}
.site-option .sitemap:hover span:first-child + span {
  animation: aniline1 1s infinite;
}
.site-option .sitemap:hover span:first-child + span + span {
  animation: aniline1 1.5s infinite;
}
@keyframes aniline1 {
  0% {
    width: 32px;
  }
  50% {
    width: 22px;
  }
  100% {
    width: 32px;
  }
}
@keyframes aniline2 {
  0% {
    width: 22px;
  }
  80% {
    width: 32px;
  }
  100% {
    width: 22px;
  }
}
.menu > ul > li {
  outline: 1px #F00 solid;
  width: 220px;
  float: left;
  text-align: center;
}
.menu > ul > li > a {
  line-height: 80px;
  color: #FFF;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: 'Oswald', sans-serif;
}
.menu > ul > li > div {
  display: none;
  padding: 30px 0;
}
.menu > ul > li > div > ul > li {
  line-height: 45px;
}
@media screen and (max-width: 1000px) {
  header {
    position: static;
  }
  header > div {
    overflow: visible;
  }
  header .gnb .menu {
    position: absolute;
    right: 0;
    height: 100%;
    width: 223px;
    background-color: #FFF;
  }
  header .gnb .menu > ul > li {
    background-color: #FFF;
  }
  header .gnb .menu > ul > li > a {
    color: #000;
    line-height: 68px;
  }
}
.container .main01 {
  height: 100%;
  border: 1px #666 solid;
  z-index: -1;
  position: relative;
}
.container .main01 .video_container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.container .main01 .video_container span {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  z-index: 20;
  top: 50%;
  margin-top: -66px;
  text-align: center;
}
.main02 {
  width: 100%;
}
.main02 .m_about ul {
  font-size: 0;
  width: 100%;
}
.main02 .m_about ul li {
  width: 33.3333333%;
  display: inline-block;
  font-size: initial;
  overflow: hidden;
  vertical-align: top;
  transition: 1s;
  position: relative;
}
.main02 .m_about ul li:hover img {
  transform: scale(1.5, 1.5);
}
.main02 .m_about ul li:hover .text:before {
  width: 0;
}
.main02 .m_about ul li:hover:after {
  opacity: 1;
}
.main02 .m_about ul li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 131, 132, 0.5);
  opacity: 0;
  transition: 1s;
}
.main02 .m_about ul li:hover .text .wa .line1 {
  width: 100%;
}
.main02 .m_about ul li:hover .text .wa .line2 {
  height: 100%;
}
.main02 .m_about ul li:hover .text .wa .line3 {
  width: 100%;
}
.main02 .m_about ul li:hover .text .wa .line4 {
  height: 100%;
}
.main02 .m_about ul li img {
  width: 100%;
  vertical-align: top;
  transition: 1s ease-in-out;
}
.main02 .m_about ul li .text {
  position: absolute;
  color: #fff;
  font-size: 20px;
  top: 50%;
  line-height: 20px;
  margin-top: -20px;
  width: 100%;
  text-align: center;
  font-weight: 600;
}
.main02 .m_about ul li .text:before {
  content: "";
  width: 30px;
  height: 3px;
  background: #fff;
  left: 50%;
  display: block;
  text-align: center;
  margin: 0 auto;
  transform-origin: center;
  transition: 1s;
}
.main02 .m_about ul li .text .wa {
  display: inline-block;
  padding: 22px 5px;
  position: relative;
  width: 140px;
  border: 1px #f00 solid;
}
.main02 .m_about ul li .text .wa .line1 {
  position: absolute;
  height: 4px;
  background-color: #FFF;
  width: 0;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.main02 .m_about ul li .text .wa .line2 {
  position: absolute;
  height: 0;
  background-color: #FFF;
  width: 4px;
  top: 0;
  right: 0;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.main02 .m_about ul li .text .wa .line3 {
  position: absolute;
  height: 4px;
  background-color: #fff;
  width: 0;
  bottom: 0;
  right: 0;
  transition: 0.5s;
  transition-delay: 1s;
}
.main02 .m_about ul li .text .wa .line4 {
  position: absolute;
  height: 0;
  background-color: #fff;
  width: 4px;
  bottom: 0;
  left: 0;
  transition: 0.5s;
  transition-delay: 1.5s;
}
.main03 {
  height: 900px;
}
.main03 .m-global {
  position: relative;
  height: 100%;
  background: #1d2227 url('http://www.tkgroup.co.kr/kor/_Img/Main/global-bg.jpg') repeat-x;
}
.main03 .m-global h3 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 42px;
  font-weight: 600;
  color: #fff;
  line-height: 1;
  padding-top: 100px;
}
.main03 .m-global .m-global01 {
  position: absolute;
  top: 236px;
  left: 50%;
  margin-left: -666px;
}
.main03 .m-global .m-global01 img {
  vertical-align: middle;
}
